<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">
<head lang="en">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Lærðu að lesa!</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>


<body>

    <div style="text-align: center;">
        <span id="word">Orð</span><br/>
        <input id="nextWord" type="button" value="Næsta orð" accesskey="n" />
    </div>

    <script src="/static/css/script.js"></script>
</body>
</html>